<div class="container">
  <div class="row">
  <h1><%= link_to 'Create a new cocktail', new_cocktail_path(@cocktail) %></h1>
  <h2>List of Cocktails</h2>
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
